.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: $body-bg-dark;
  text-align: center;
  min-width: 480px;
  max-width: 1600px;
}

.address {
  margin-top: 20px;
  @include font (400, 14px, 24px);
}

.address-list {
  margin-bottom: 60px;
  
  &__item {
    margin-bottom: 8px;
  }
  
  &__link {
    color: $white-color;
  }
  
  &__contact-link {
    color: rgba(255, 255, 255, 0.6);
  }
}

.social {
    margin-bottom: 60px;
  }

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1200px) {
  .address-list {
    margin-bottom: -9px;
  
    &__item {
      margin-bottom: 9px;
    }
  }
    .social {
    margin-left: 70px;
  }
  /* call-to-action in components */
  /* social-list in components */

  .signup {
    margin-left: 93px;
  }
  /* call-to-action in components */
  /* signup-form in components */
}