.logo {
  font-family: var(--secondary-font);

  @include font (700, 26px, 31px);
  color: var(--accent-color);

  &_theme {
    &_light {
    color: var(--black-color);
    }
    &_dark {
    color: var(--white-color);
    }
  }
}
