.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
  
  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }
}


@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
  
//   .header & {
//     display: flex;
//     align-items: center;
//   }

//   .footer & {
//     display: flex;
//     align-items: baseline;
//   }
// }


