:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --body-bg-dark: #2f303a;
  --body-bg-accent: #f5f4fa;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;

  --section-pt: 94px;
  --section-pb: 94px;
  --card-gap: 30px;
  --icon-color: #afb1b8;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}